npm-debug.log
Dockerfile*
docker-compose*
.dockerqignore
.git
.gitignore

readme.md
LICENSE
README.md

.vscode
.idea

server/node_modules
server/dist
client/node_modules

.env

client/node_modules
# client/dist